In [1]:
import json
import pandas as pd
import numpy as np

In [61]:
import pickle

In [62]:
ls -l

total 112
drwxrwxr-x 2 tron tron  4096 Oct 30 08:52 data/
-rw-rw-r-- 1 tron tron 80360 Oct 29 21:42 per_pro.ipynb
-rw-rw-r-- 1 tron tron     0 Oct 30 13:52 pre_data.pkl
-rw-rw-r-- 1 tron tron 23964 Oct 30 13:53 pre.ipynb
-rw-rw-r-- 1 tron tron   355 Oct 30 09:31 pre.py

In [13]:
ls

data/  per_pro.ipynb  pre.ipynb  pre.py

In [7]:
type(ques_val_json['questions'])

list

In [9]:
with open('./data/Q_V.json') as f:
    ques_val_json = json.loads(f.read())

q_val = pd.DataFrame(ques_val_json['questions'])
del ques_val_json

In [22]:
with open('./data/Q_T.json') as f:
    ques_train_json = json.loads(f.read())

q_train = pd.DataFrame(ques_train_json['questions'])
del ques_val_json

In [18]:
with open('./data/A_V.json') as f:
    ans_val_json = json.loads(f.read())

a_val = pd.DataFrame(ans_val_json['annotations'])
del ans_val_json

In [24]:
with open('./data/A_T.json') as f:
    ans_train_json = json.loads(f.read())
    
a_train = pd.DataFrame(ans_train_json['annotations'])
del ans_train_json

In [17]:
q_val.columns

Index([u'image_id', u'multiple_choices', u'question', u'question_id'], dtype='object')

In [20]:
q_val.shape

(121512, 4)

In [32]:
q_val.ix[:,[0,2,3]].head()

   image_id                                question  question_id
0    350623              What is the table made of?      3506232
1    350623       Is the food napping on the table?      3506230
2    350623  What has been upcycled to make lights?      3506231
3      8647                Is this an Spanish town?        86472
4      8647      Are there shadows on the sidewalk?        86470

In [19]:
a_val.columns

Index([u'answer_type', u'answers', u'image_id', u'multiple_choice_answer',
       u'question_id', u'question_type'],
      dtype='object')

In [50]:
a_val.head()

,answer_type,answers,image_id,multiple_choice_answer,question_id,question_type
0,other,"[{u'answer': u'wood', u'answer_confidence': u'...",350623,wood,3506232,what is the
1,yes/no,"[{u'answer': u'no', u'answer_confidence': u'ye...",350623,no,3506230,is the
2,other,"[{u'answer': u'kettles', u'answer_confidence':...",350623,kettles,3506231,what
3,yes/no,"[{u'answer': u'yes', u'answer_confidence': u'm...",8647,no,86472,is this an
4,yes/no,"[{u'answer': u'yes', u'answer_confidence': u'y...",8647,yes,86470,are there

In [40]:
a_val.ix[:,3].head()

0       wood
1         no
2    kettles
3         no
4        yes
Name: multiple_choice_answer, dtype: object

In [41]:
q_val['answer'] = a_val.ix[:,3]

In [42]:
q_val.columns

Index([u'image_id', u'multiple_choices', u'question', u'question_id',
       u'answer'],
      dtype='object')

In [45]:
q_val.head()

,image_id,multiple_choices,question,question_id,answer
0,350623,"[4, green, no, metal, 2, blue, plastic, marble...",What is the table made of?,3506232,wood
1,350623,"[tv is on, red, blue, 3, green, no, white, yes...",Is the food napping on the table?,3506230,no
2,350623,"[3, build bear, no, blue, bulbs, green, 1, whi...",What has been upcycled to make lights?,3506231,kettles
3,8647,"[n, 1, green, international bass musician, bir...",Is this an Spanish town?,86472,no
4,8647,"[blue, mo, detour, no, raccoon, yes, green, 4,...",Are there shadows on the sidewalk?,86470,yes

In [52]:
val = q_val.ix[:,[0,2,3]]
val['answer'] = pd.Series(a_val.ix[:,3])

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [48]:
val.head()

   image_id                                question  question_id   answer
0    350623              What is the table made of?      3506232     wood
1    350623       Is the food napping on the table?      3506230       no
2    350623  What has been upcycled to make lights?      3506231  kettles
3      8647                Is this an Spanish town?        86472       no
4      8647      Are there shadows on the sidewalk?        86470      yes

In [53]:
q_val['answer']=a_val.ix[:,3]

In [55]:
q_val.head()

,image_id,multiple_choices,question,question_id,answer
0,350623,"[4, green, no, metal, 2, blue, plastic, marble...",What is the table made of?,3506232,wood
1,350623,"[tv is on, red, blue, 3, green, no, white, yes...",Is the food napping on the table?,3506230,no
2,350623,"[3, build bear, no, blue, bulbs, green, 1, whi...",What has been upcycled to make lights?,3506231,kettles
3,8647,"[n, 1, green, international bass musician, bir...",Is this an Spanish town?,86472,no
4,8647,"[blue, mo, detour, no, raccoon, yes, green, 4,...",Are there shadows on the sidewalk?,86470,yes

In [59]:
v_data = q_val.drop(['multiple_choices','question_id'],axis=1)

In [60]:
v_data.head()

   image_id                                question   answer
0    350623              What is the table made of?     wood
1    350623       Is the food napping on the table?       no
2    350623  What has been upcycled to make lights?  kettles
3      8647                Is this an Spanish town?       no
4      8647      Are there shadows on the sidewalk?      yes

In [66]:
v_data.to_pickle('pre_data.pkl')