In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
ls

mscoco_train2014_annotations.json               vedant.ipynb
MultipleChoice_mscoco_train2014_questions.json

In [3]:
questions = None
answers = None

t_q_json_file = 'MultipleChoice_mscoco_train2014_questions.json'
t_a_json_file =  'mscoco_train2014_annotations.json'

In [5]:
print "Loading Training questions"
with open(t_q_json_file) as f:
    t_questions = json.loads(f.read())
 
print "Loading Training anwers"
with open(t_a_json_file) as f:
    t_answers = json.loads(f.read())

Loading Training questions
Loading Training anwers

In [6]:
print "Ans", len(t_answers['annotations'])
print "Qu", len(t_questions['questions'])

Ans 248349
Qu 248349

In [7]:
answers = t_answers['annotations'] 
questions = t_questions['questions']

In [14]:
ans = pd.DataFrame(answers)

In [15]:
ans.head()

,answer_type,answers,image_id,multiple_choice_answer,question_id,question_type
0,other,"[{u'answer': u'oval', u'answer_confidence': u'...",487025,curved,4870250,what
1,yes/no,"[{u'answer': u'yes', u'answer_confidence': u'y...",487025,yes,4870251,is there a
2,other,"[{u'answer': u'1', u'answer_confidence': u'yes...",487025,1,4870252,is this
3,yes/no,"[{u'answer': u'no', u'answer_confidence': u'ye...",78077,no,780770,is this a
4,other,"[{u'answer': u'white', u'answer_confidence': u...",78077,white,780771,what color is the

In [16]:
que = pd.DataFrame(questions)

In [17]:
que.head()

,image_id,multiple_choices,question,question_id
0,487025,"[square, 1, w 26th st, white, rectangular, 2, ...",What shape is the bench seat?,4870250
1,487025,"[north carolina, against wall, 1, 3, cookbook,...",Is there a shadow?,4870251
2,487025,"[3, red, circular, indoors, 1 bench, no, green...",Is this one bench or multiple benches?,4870252
3,78077,"[equestrian, ravioli, 3, laser, blue, yes,, 1,...",Is this a modern train?,780770
4,78077,"[leave me, hero, yes, yellow, gray, green, 2, ...",What color is the stripe on the train?,780771